<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-feature android:name="android.hardware.camera"></uses-feature>
    <uses-feature android:name="android.hardware.camera.autofocus"></uses-feature>



    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_logo_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Prototype"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Prototype.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NoticeAddActivity"
            android:theme="@style/Theme.Prototype.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE"/>
                <data android:mimeType="*/*" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.camera.experimental.useHAL3"
                android:value="true" />
        </activity>
        <activity android:name=".JeosujiActivity"
            android:theme="@style/Theme.Prototype.NoActionBar"/>
        <activity android:name=".MyPageActivity"
            android:theme="@style/Theme.Prototype.NoActionBar"/>
        <activity android:name=".NoticeActivity"
            android:theme="@style/Theme.Prototype.NoActionBar"/>
        <activity android:name=".GisActivity"
            android:theme="@style/Theme.Prototype.NoActionBar"/>
        <activity android:name=".LoginActivity"
            android:theme="@style/Theme.Prototype.NoActionBar"/>
    </application>

    <meta-data
        android:name="DATABASE_URL"
        android:value="jdbc:mariadb://127.0.0.1:3306/unnamed"/>
    <meta-data
        android:name="USER_NAME"
        android:value=""/>
    <meta-data
        android:name="PASSWORD"
        android:value=""/>
</manifest>